<%- include('partials/header'); -%>

<div class="row">
    <div class="col-12">
        <h1>Compose</h1>
    </div>

    <div class="col-12">
        <form class="" action="/compose" method="post">
            <div class="col-12">
                <label>Title</label>
                <br>
                <input class="form-control mt-1" type="text" name="postTitle" autocomplete="off">
            </div>


            <div class="col-12 mt-3">
                <label>Post</label>
                <br>
                <textarea class="form-control mt-1" name="postBody"></textarea>
            </div>

            <button class="btn btn-primary mt-3" type="submit" name="compose">Publish</button>
        </form>
    </div>
</div>

<%- include('partials/footer'); -%>